section.location-image-text {
    .text-column{
        padding: 3rem;
    }
    .text-content {

        border-left: 4px solid $primary;
        padding-left: 1rem;

        h2 {
            color: $primary
        }
    }
    @media (max-width:767.98px) {

        .location-wrapper {
            display: table;
        }
        .location-image {
            min-width: 100%;
            height: 20vh;
            display: table-header-group;
        }

    }
}