.location-overview {
	p {
        color: $secondary;
		font-size: 1.25rem;
	}
}

@include media-breakpoint-down(xs) {
	.location-overview {
		.location-overview__header {
			background-size: cover;
			height: 200px;
		}
		.location-overview__text {
			height: 200px;
		}
	}
}


@media (max-width: 1199px) {

	section.location-overview {
		margin-top: 0!important;
	}

    section.location-overview .container {
        max-width: 100% !important;
    }
    .py-5.location-overview-template-section {
        padding-bottom: 0px !important;
        padding-top: 0px !important;
    }
}