.scroll-top {
    position: fixed;
    bottom: 2rem;
    right: 48.5% !important;
    z-index: 100 !important;
    background: rgba($web-white, 1);
    color: $primary;
    text-align: center;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    border: 1px solid $primary;
  }

.scroll-top:hover {
    background: rgba($primary, 1);
    color: $web-white !important;
    border: 2px solid $web-white;
}

  .scroll-top-visible {
    opacity: 1;
    pointer-events: auto;
  }