section.summary-feature {
    .summary-feature-item-content {
        /**margin-bottom: 20px;

        margin-right: 4rem;
        background-color: $corporate-primary-grey;***/
        background-color: $light-grey;
        padding: 1rem;
    }
}